@import "utils";
@import "fonts";
@import "typography";

body {
  background: $bgc-color;
}

.header {
  position: relative;
  background-image: url("../images/bgc-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;

  &__left {
    //
  }

  &__back {
    background-image: url("../images/sparks_back.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    height: 100vh;
  }

  &__person {
    background-image: url("../images/witcher.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    height: 100vh;
  }

  &__front {
    background-image: url("../images/sparks_front.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    height: 100vh;
  }

  &__right {
    position: absolute;
    top: 200px;
    right: 9%;

    display: flex;
    flex-direction: column;
    align-items: center;

    &--percent {
      font-size: 208px;
      @include text;
    }

    &--welcome {
      font-size: 68px;
      text-transform: uppercase;
      @include text;
    }
  }

  &__extra {
    display: flex;

    margin: 70px 0;

    &--code {
      position: relative;
      height: 80px;
      width: 270px;
      border-radius: 40px 0 0 40px;
      -moz-border-radius: 40px 0 0 40px;
      -webkit-border-radius: 40px 0 0 40px;
      border: 1px dashed $border-color;
      border-right: 1px solid $border-color;

      &--name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $code-color;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 40px;
        line-height: 43px;
        font-weight: 400;
        letter-spacing: 3px;
        text-transform: uppercase;
      }

      &--input {
        position: absolute;
        left: -9999px;
      }
    }

    &--copy {
      position: relative;
      height: 80px;
      width: 198px;
      border-radius: 0 40px 40px 0;
      -moz-border-radius: 0 40px 40px 0;
      -webkit-border-radius: 0 40px 40px 0;
      border: 1px dashed $border-color;
      border-left: 0 solid $border-color;
      cursor: pointer;

      &--name {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $text-color;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 30px;
        width: 140px;

        @include hover(color, $hover-code-color);
      }
    }
  }

  &__button {
    @include button;
  }

  &__logo {
    position: absolute;
    bottom: 58px;
    left: 69px;

    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: 120px 35px;
    width: 120px;
    height: 35px;
  }

  &__terms {
    position: absolute;
    bottom: 58px;
    right: 68px;

    &--name {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
      color: $terms-color;
    }
  }
}
