@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin text {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: $text-color;
  line-height: 100%;
  text-align: center;
}

@mixin button {
  height: 80px;
  width: 360px;
  color: $text-color;
  background-color: $button-color;
  border-radius: 40px;
  outline: none;
  border: none;
  cursor: pointer;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;

  @media (max-width: 768px) {
    height: 60px;
    width: 260px;
  }

  @include hover(opacity, 0.8);

  &:active {
    transform: scale(0.99);
  }
}
